@using Microsoft.AspNetCore.Identity
@using GOTG.Models
@inject SignInManager<ApplicationUser>
    SignInManager
    @inject UserManager<ApplicationUser>
        UserManager

        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle me-1"></i>Hello, @User.Identity?.Name!
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                            <i class="fas fa-user me-2"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Donation" asp-action="MyDonations">
                            <i class="fas fa-donate me-2"></i>My Donations
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item">
                                <i class="fas fa-sign-out-alt me-2"></i>Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Register">
                    <i class="fas fa-user-plus me-1"></i>Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">
                    <i class="fas fa-sign-in-alt me-1"></i>Login
                </a>
            </li>
            }
        </ul>
